# DeepSeek API 配置
# 必填，去 deepseek 官网申请
DEEPSEEK_API_KEY=sk-***

# 选填，默认就是这个
DEEPSEEK_API_BASE=https://api.deepseek.com

# 选填，指定模型
DEEPSEEK_MODEL=deepseek-chat

# TAVILY API 配置
TAVILY_API_KEY=tvly-dev-***

# OPENAI API 配置
OPENAI_API_KEY=sk-proj-***

# Qdrant API 配置
QDRANT_API_KEY=your-qdrant-api-key
QDRANT_API_BASE=https://d5ba48cb-d32d-4d42-a111-6f70b300d550.europe-west3-0.gcp.cloud.qdrant.io

# 硅基流动 配置
SILICONFLOW_API_KEY=sk-***
SILICONFLOW_API_BASE=https://api.siliconflow.cn/v1
